name: MyPy

on:
  pull_request:
    paths:
      - '**.py'
      - '.github/workflows/mypy.yaml'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'setup.py'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  mypy:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.10", "3.11", "3.12", "3.13" ]

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        persist-credentials: false
        
    - name: Setup Python (faster than using Python container)
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.pyversion }}

    - name: Load cached Poetry installation
      id: cached-poetry
      uses: actions/cache@v5
      with:
        path: ${{ github.workspace }}/.poetry
        key: poetry-${{ runner.os }}-${{ matrix.pyversion }}-0  # increment to reset cache
        
    - name: Install Poetry
      if: steps.cached-poetry.outputs.cache-hit != 'true'
      uses: snok/install-poetry@v1
      with:
        poetry-home: ${{ github.workspace }}/.poetry

    - name: Install Dependencies
      shell: bash
      run: poetry install --no-interaction

    - name: Run MyPy
      shell: bash
      run: poetry run mypy ./evmspec
