name: PyTest

on:
  pull_request:
    branch: master
    paths:
      - '**.py'
      - '**/pytest.yaml'
      - 'pyproject.toml'
      - 'poetry.lock'
  schedule:
    - cron: '0 2 * * *' # Every day at 2:00 AM UTC
      
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.10", "3.11", "3.12", "3.13" ]
        include:
        - os: ubuntu-latest
          path: ~/.cache/pip
        - os: macos-latest
          path: ~/Library/Caches/pip
        - os: windows-latest
          path: ~\AppData\Local\pip\Cache
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Python (faster than using Python container)
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pyversion }}

      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/.poetry
          key: poetry-${{ runner.os }}-${{ matrix.pyversion }}-0  # increment to reset cache

      - name: Add cached Poetry to PATH
        if: steps.cached-poetry.outputs.cache-hit == 'true'
        shell: bash
        run: echo "${{ github.workspace }}/.poetry/bin" >> "$GITHUB_PATH"
          
      - name: Install Poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1
        with:
          poetry-home: ${{ github.workspace }}/.poetry

      - name: Install Pytest and Evmspec
        shell: bash
        run: poetry run python -m pip install pytest .

      - name: Run test suite
        shell: bash
        env:
          PYTEST_NETWORK: mainnet
          ETHERSCAN_TOKEN: ${{ secrets.ETHERSCAN_TOKEN  }}
        run: poetry run pytest
